<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Page de base</title>
        
    </head>
    <body>
        <h1> Bienvenue page d'accueil </h1>
        <h4> Votre nom : {{ nom }}</h4>
    </body>
    <footer>
        Time {{ time_stamp }}
    </footer>
</html>