<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soumettre un ficher d'image</title>
</head>
<body>
    <h1 >Saisir un ficher d'image pour notre API</h1>
    <form name="form_fichier" action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Parcourir</label>
        <input type="file" name="fichier" accept="image/png"/>
        <input type="submit" value="Envoyer" />
    </form>
</body>
</html>